# Variáveis de ambiente
.env

# Python cache
__pycache__/
*.pyc

# Hypothesis (gerado automaticamente nos testes)
.hypothesis/

# Ruff cache
.ruff_cache/

# Ambientes virtuais
.venv/
venv/

# IDEs
.idea/
.vscode/

# PPTX
*.pptx

#.kiro\specs
.kiro/